<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/internet_shop_db</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <mapping class="com.tsystems.javaschool.internetshop.model.AddressEntity"/>
    <mapping class="com.tsystems.javaschool.internetshop.model.GoodsEntity"/>
    <mapping class="com.tsystems.javaschool.internetshop.model.OrderEntity"/>
    <mapping class="com.tsystems.javaschool.internetshop.model.ParameterEntity"/>
    <mapping class="com.tsystems.javaschool.internetshop.model.RoleEntity"/>
    <mapping class="com.tsystems.javaschool.internetshop.model.TypeEntity"/>
    <mapping class="com.tsystems.javaschool.internetshop.model.UserEntity"/>

    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>